<!--header-->
<div class="main-chat_header">
  <div class="chat-name">hogefuga</div>
  <div class="end-btn">
    <a href="#">チャットを終了する</a>
  </div>
</div>
<!--messages-->
<div class="messages">
  <!--message-->
  <div class="message">
    <div class="message-header">
      <div class="message_user">Tom</div>
      <div class="message_date">2021/5/10(Tue) 12:43:30</div>
    </div>
    <div class="message-content">おはよう</div>
  </div>
  <!--message-->
  <div class="message">
    <div class="message-header">
      <div class="message_user">Tom</div>
      <div class="message_date">2021/5/11(Wed) 22:43:36</div>
    </div>
    <div class="message-content">こんばんは</div>
  </div>
</div>
<!--message-box-->
<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>