/*************************************
wrapper
*************************************/

.wrapper {
  display: flex;
}

.side-bar {
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

.main-chat {
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: #FFFFFF;
}

/*************************************
side-bar
※room room-aのところがカリキュラムと不一致
*************************************/

.side-bar_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 20px;
}

.user-name a {
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.create-room a {
  font-size: 10px;
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
}

.rooms {
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
  background-color: #2F3E51;
}

.room {
  padding: 20px 0 40px;
}

.room a {
  color: white;
  text-decoration: none;
}

/*************************************
main-chat
※回答通りいずれヘッダーを右・左のボックスで分けるべきかも？
※このままだとヘッダーに要素が追加された時、左右寄せがうまく機能しないかも
※メッセージ内ヘッダーとコンテンツも同様
*************************************/

.main-chat_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 40px;
}

.chat-name {
  font-size: 24;
  color: #333333;
}

.end-btn {
  padding: 20px;
  border: 1px solid darkred;
}

.end-btn a {
  color: darkred;
  text-decoration: none;
}

.messages {
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
  background-color: #FAFAFA;
  overflow: scroll;
}

.message {
  margin-top: 10px;
}

.upper-message {
  display: flex;
}

.message-user {
  font-size: 16px;
  color: #434A54;
}

.message-date {
  margin-left: 10px;
  font-size: 12px;
  color: #999999;
}

.message-content {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #434A54;
}

.form {
  height: 90px;
  padding: 20px 40px;
  background-color: #DDDDDD;
  display: flex;
}

.form-input {
  width: 100%;
  background-color: white;
  display: flex;
}

.form-message {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border: none;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}

.form-submit {
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
  font-size: 16px;
  border: none;
  color: white;
  background-color: #38AEF0;
}